
DATABASE_URL=postgresql://postgres:postgres123@localhost:5432/Paaila

JWT_SECRET_KEY=beFWPz/gjcAU4uUyWrwofEFJxngadZNlcXteqj0wwiZHyZBfsIJUufWIcKkvLvivYl37LnMCtzhyt3DxIyUudg==
JWT_ALGORITHM=HS256
JWT_EXPIRATION_HOURS=24
