
DATABASE_URL=postgresql://postgres:postgres123@localhost:5432/Paaila

JWT_SECRET_KEY=beFWPz/gjcAU4uUyWrwofEFJxngadZNlcXteqj0wwiZHyZBfsIJUufWIcKkvLvivYl37LnMCtzhyt3DxIyUudg==
JWT_ALGORITHM=HS256
JWT_EXPIRATION_MINUTES=1440
CORS_ALLOW_ORIGINS=http://localhost:5173,http://127.0.0.1:5173,http://localhost:3000,http://127.0.0.1:3000
